@import '../common/colors';

.transaction-container {
    margin: 5px auto;
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    text-align: center;
    
    .user {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        
        .avatar {
            border-radius: 100%;
            border: $icon-color solid 1px;
            height: 25px;
            width: 25px;
            margin: 5px;
        }

        .address {
            background-color: $light-blue;
            padding: 10px;
        }

        .copy {
            margin: 10px;
        }
    }

    .field-entry {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;

        .disabled-field {
            padding: 0;

        }

        .replace-from {
            margin-bottom: 20px;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            margin: 10px;
        }     

        .back-icon {
            align-self: center;
        }
    }
}

