@import '../common/colors';

#wallet-setup {
  margin: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  #wallet-setup-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    * {
      margin: 10px;
    }
  }

  #wallet-setup-other-options {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    #wallet-setup-import-phrase {
      width: 50%;

      margin: 5px;
      padding: 10px;
    }

    #wallet-setup-import-key {
      width: 50%;

      margin: 5px;
      padding: 10px;
    }
  }
}