@import './common/colors';

#App {
  min-width: 600px;
  max-width: 1500px;
  min-height: 500px;
  margin: auto;
  padding: 20px;

  .fa-icon {
    color: $icon-color
  }

  #debug-bar {
    width: 100%;
    min-width: 400px;
  
    margin: 10px auto;
  
    display: flex;
    justify-content: space-around;
  
    .debug-control {
      margin: 10px;
    }
  }
}