@import 'common/colors';

#profile-settings {
  margin: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  
  .content-container {
    display: flex;
    justify-content: space-evenly;
    
  } 
  .profile-name-edit {
    display: flex;
    justify-content: space-evenly;

  }

  .profile-picture-edit {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    .pic-section {
      align-items: center;
    }

    .edit-pic-section {
      vertical-align: bottom;

    }
  }

  .button-container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

  }
}
