#profile-settings {
  margin: auto;
  padding: 10px;
  display: flex;
  
  #profile-left-section {
    margin:10px;
    #settings-nav {
      #wallet-setup-create-wallet {
        width: fit-content;
        height: fit-content;
    
        // padding: 10px;
      }
  
      #wallet-setup-import-key {
        width: 50%;
        display: flex;
        // flex-direction: horizontal;
      }
      #settings-nav-button {
        // display: flex;
        // float: left;
        // padding-left: 0;
        // margin: 10px;
        
      }
      

    }
    

    .profile-name-edit {
      align-items: center;
      display: flex;
      text-align: center;
      

    }
    .text {
      margin: 5px;
      text-align: center;

    }
    .fa-icon {
      margin: 5px;
    }

  }

  #profile-right-section {
    margin:10px;

    .h3 {
      margin:10px;
    }
    #delay-selection {
      margin:5px;
      // display: inline-block;

      #delay-selection-content {
        display: inline-block;
        padding: 5px;
      }
    }

    
  }

  #dark-mode{
    margin:5px;
    

    #dark-mode-content {
      display: inline-block;
      padding: 5px;
    }
  }
  
}
