#address-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 2px;
  
  #address-text {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
  }

  #icon {
    vertical-align: middle;
  }
}

